{port_envs, [
  {"DRV_LDFLAGS", "$DRV_LDFLAGS -Wl,-rpath priv/lib"}
]}.

{deps, [{a, "1", {hg, "../repo/a", "tip"}}]}.

%% pre-scripts
{before_hooks, [
    {clean, "echo preclean >> preclean.out"},
    {compile, erlc, "touch precompile.erlc.out"},
    {compile, abnfc, "touch precompile.abnfc.out"},
    {compile, lfe, "touch precompile.lfe.out"},
    {compile, asn1, "touch precompile.asn1.out"},
    {compile, neotoma, "touch precompile.neotoma.out"},
    {compile, port, "echo $DRV_LDFLAGS >> precompile.port.out"}
]}.

{after_hooks, [
    {clean, "echo postclean >> postclean.out"},
    {compile, erlc, "touch postcompile.erlc.out"},
    {compile, abnfc, "touch postcompile.abnfc.out"},
    {compile, lfe, "touch postcompile.lfe.out"},
    {compile, asn1, "touch postcompile.asn1.out"},
    {compile, neotoma, "touch postcompile.neotoma.out"},
    {compile, port, "echo $DRV_LDFLAGS >> postcompile.port.out"}
]}.
